<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ZeyrekAsistan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <ZeyrekAsistan.Properties.Settings>
            <setting name="ZeyrekAsistan_ReadNotifications_ReadNotifications"
                serializeAs="String">
                <value>http://192.168.0.154/readnotifications.asmx</value>
            </setting>
            <setting name="ZeyrekAsistan_ReadTasks_ReadTask" serializeAs="String">
                <value>http://192.168.0.154/readtask.asmx</value>
            </setting>
        </ZeyrekAsistan.Properties.Settings>
    </applicationSettings>
</configuration>